<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Receba nosso material!</title>
</head>
<body>
    <section class="section">
        @!section('content')
  </section>
</body>
</html>